click==8.0.3
colorama==0.4.4
Flask==0.12.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==0.16.1
Flask-MySQL==1.5.2
Flask-Session==0.4.0
flask-ask==0.9.7
secure-cookie==0.2.0
pyOpenSSL==17.0.0
PyYAML==3.12
six==1.10.0
cryptography==38.0.3
aniso8601==1.2.0