{% extends 'base.html' %}
{% block title %} Carrinho{% endblock %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('../static/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">

                <h1 class="mb-0 bread">Meu Carrinho</h1>
            </div>
        </div>
    </div>
</div>
{% if produtos is defined and produtos|length > 0 %}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produto in produtos %}
                        <tr class="text-center">
                            <td class="product-remove"><a aria-label="Quantidade de Produtos" aria-labelledby="Quantidade de Produto {{ produto[1] }} do {{ produto[10] }}"
                                    href="/removeCardItem?IdOferta={{ produto[15] }}&IdCarrinho={{ produto[16] }}"><span
                                    class="ion-ios-close"
                             ></span></a></td>

                            <td class="image-prod">
                                <div class="img"
                                     style="background-image:url(../static/images/{{ produto[9] }}.jpg);"></div>
                            </td>

                            <td class="product-name">
                                <div style="font-size:18px !important;">{{ produto[1] }}</div>
                                <div style="font-size:13px !important;">{{ produto[10] }}</div>
                            </td>

                            <td class="price">R$ {{ produto[3] }}</td>

                            <td class="quantity">
                                <div class="row mt-4" style="flex-wrap: inherit !important;">
                                <span class="input-group-btn mr-2">
	                	<button type="button" id="btnMenos_{{ produto[15]}}_{{ produto[16]}}"
                                class="quantity-left-minus btn btnMenosCard" aria-label="Menos Produtos {{ produto[1] }} do {{ produto[10] }}" aria-labelledby="Menos Produtos {{ produto[1] }} do {{ produto[10] }}" data-type="minus"
                                data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                                    <input type="label" id="quantityText_{{ produto[15]}}_{{ produto[16]}}"
                                           name="quantity" aria-label="Quantidade de Produtos {{ produto[1] }} do {{ produto[10] }}" aria-labelledby="Quantidade de Produtos {{ produto[1] }} do {{ produto[10] }}"  class="form-control input-number"
                                           value="{{ produto[12] }}"
                                           min="1" max="100">
                                    <span class="input-group-btn ml-2">
	                	<button type="button" id="btnMais_{{ produto[15]}}_{{ produto[16]}}"
                                class="quantity-right-plus btn btnMaisCard" aria-label="Mais Produtos {{ produto[1] }} do {{ produto[10] }}" aria-labelledby="Mais Produtos {{ produto[1] }} do {{ produto[10] }}" data-type="plus"
                                data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
                                </div>
                            </td>

                            <td class="total">R$ {{ produto[14] }}</td>
                        </tr><!-- END TR-->
                        {%endfor%}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                     <div style="font-size:23px !important;">Cupom de Desconto</div>

                    <p>Entre com seu código de cupom</p>
                    <form action="#" class="info">
                        <div class="form-group">
                            <label for="">Código</label>
                            <input type="text" class="form-control text-left px-3" aria-label="Insira Aqui o Cupom"  aria-labelledby="Insira Aqui o Cupom" placeholder="">
                        </div>
                    </form>
                </div>
                <p><a href="checkout.html" class="btn btn-primary py-3 px-4" aria-label="Aplicar Cupom"  aria-labelledby="Aplicar Cupom">Aplicar</a></p>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                      <div style="font-size:23px !important;">Valor de Frete</div>

                    <p>Endereço selecionado</p>
                    <form action="#" class="info">
                        <div class="form-group">
                            <label for="">Lagradouro</label>
                            {{ endereco[3] }}

                        </div>
                        <div class="form-group">
                            <label for="">Número</label>

                            {{ endereco[4] }}
                        </div>
                        <div class="form-group">
                            <label for="">Complemento</label>
                            {{ endereco[7] }}
                        </div>

                        <div class="form-group">

                            <label for="country">Estado</label>
                            {{ endereco[6] }}

                        </div>
                        <div class="form-group">

                            <label for="country">CEP</label>
                            {{ endereco[1] }}
                        </div>

                        <div class="form-group">

                            <label for="country">Bairro</label>
                            {{ endereco[8] }}
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                     <div style="font-size:23px !important;">Compra Total</div>

                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>R$ {{ carrinho[5] }}</span>
                    </p>
                    <p class="d-flex">
                        <span>Frete</span>
                        <span>R$ {{ carrinho[3] }}</span>
                    </p>
                    <p class="d-flex">
                        <span>Descontos</span>
                        <span>R$ {{ carrinho[4] }}</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>R$ {{ carrinho[1] }}</span>
                    </p>
                </div>
                <p><a href="/checkout" aria-label="Finalizar Pedido" style="width: 100%" class="btn btn-primary py-3 px-4">Finalizar Compra</a></p>
            </div>
        </div>
    </div>
</section>
{% else %}
<div style="tex-align:center;">
    <br> <br> <br> <br>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Carrinho Vazio</h2>
    <br> <br> <br>
    <div>

        {% endif %}

        {% endblock %}
