{% extends 'base.html' %}
{% block title %} Carrinho{% endblock %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('../static/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Endereço</span></p>
                <h1 class="mb-0 bread">Meus Endereços</h1>
            </div>
        </div>
    </div>
</div>
{% if address is defined and address|length > 0 %}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th></th>
                            <th>Logradouro</th>
                            <th>Número</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>Complemento</th>
                            <th>CEP</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for addr in address %}
                        <tr class="text-center">


                            <td class="product-remove"><a
                                    href="/selectEnd?CdEndereco={{ addr[0] }}"><span>Selecionar</span></a></td>


                            <td class="price">{{ addr[3] }}</td>
                            <td class="price">{{ addr[4] }}</td>
                            <td class="price">{{ addr[8] }}</td>
                            <td class="price">{{ addr[5] }}</td>
                            <td class="price">{{ addr[6] }}</td>
                            <td class="price">{{ addr[7] }}</td>
                            <td class="price">{{ addr[1] }}</td>

                            <td class="product-remove"><a
                                    href="/removeEnd?CdEndereco={{ addr[0] }}"><span>Remover</span></a></td>

                        </tr><!-- END TR-->
                        {%endfor%}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container">
    <h4>Cadastrar Novo Endereço</h4>
    <form>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
            </div>
            <input type="text" class="form-control" id="StCep" placeholder="CEP">
            <input type="button" id="btnBuscarCep" value="Buscar" class="float-right btnBuscar">

        </div>

        <div class="addres">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" id="StLagradouro" placeholder="Rua">

            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" id="StNumero" placeholder="Número">

            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" id="StCidade" placeholder="Cidade">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" id="StEstado" placeholder="Estado">


            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" id="StBairro" placeholder="Bairro">

            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" id="StComplemento" placeholder="Complemento">

            </div>

        </div>


        <br>
        <div class="form-address">

            <input type="button" id="insertAddress" value="Cadastrar Endereço" class="btn btn-black py-3 px-5">
        </div>
    </form>
</div>
<br> <br> <br> <br>
{% else %}
<div style="tex-align:center;">
    <br> <br> <br> <br>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nenhum Endereço Cadastrado</h2>
    <br> <br> <br>
    <div>

        {% endif %}

        {% endblock %}
