{% extends 'base.html' %}

{% block title %} {{ produto[1] }}{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="../static/images/{{ produto[9] }}.jpg" class="image-popup"><img
                        src="../static/images/{{ produto[9] }}.jpg"
                        class="img-fluid"
                        alt="{{ produto[1] }} da fornecedor {{ produto[10] }} com 30% de Desconto, por {{ produto[3] }} reais, produto com {{ produto[7] }} estrelas de avaliação"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <div style="font-size:25px !important;">{{ produto[1] }}</div>
                <div style="font-size:15px !important;">{{ produto[10] }}</div>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        {{ produto[7] }}.0

                        <!-- For loop logic of jinja template -->
                        {%for i in range(0, produto[7])%}

                        <span class="ion-ios-star-outline"></span>
                        {%endfor%}


                    </p>

                </div>
                <p class="price"><span>R$ {{ produto[3] }}</span></p>
                {{ produto[6]|safe }}

                <div class="row mt-4">
                    <div class="col-md-7">
                        <div class="form-group d-flex">
                            <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                {% include "selectTamanho.html" %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="input-group col-md-8 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" id="btnMenos" aria-label="Menos Produtos" aria-labelledby="Menos Produtos"
                                class="quantity-left-minus btn" data-type="minus"
                                data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                            <input type="text" id="quantityText" aria-label="Quantidade de Produtos"
                                   aria-labelledby="Quantidade de Produtos" name="quantity"
                                   class="form-control input-number"
                                   value="1"
                                   min="1" max="100">
                            <span class="input-group-btn ml-2">
	                	<button type="button" id="btnMais" aria-label="Mais Produtos" aria-labelledby="Mais Produtos"
                                class="quantity-right-plus btn" data-type="plus"
                                data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <p style="color: #000;">{{ produto[8] }}</p>
                        </div>
                    </div>
                    <p>

                        <input type="button" class="btn btn-black py-3 px-5"
                               aria-label="Adicionar no Carrinho {{ produto[1] }} do {{ produto[10] }}"
                               aria-labelledby="Adicionar no Carrinho {{ produto[1] }} do {{ produto[10] }}"
                               value="Adicionar ao Carrinho"
                               onclick="sendCartProduct({{ produto[11] }},{{ produto[3] }})"/>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "sectionReferenceProducts.html" %}


{% endblock %}


