{% extends 'baseEmpresa.html' %}
{% block title %} Empresa{% endblock %}
{% block content %}
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Bem Vindo</span>
                <h2 class="mb-4">{{empresa[1]}}</h2>
                <p>Central de Controle.</p>
            </div>
        </div>
</section>

{% endblock %}


