{% extends 'baseEmpresa.html' %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('../static/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Pedidos</span></p>
                <h1 class="mb-0 bread">Pedidos Para Mim</h1>
            </div>
        </div>
    </div>
</div>
{% if orders is defined and orders|length > 0 %}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>Pedido</th>
                            <th>Forma de Pagamento</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr class="text-center">

                            <td class="product-name">
                                <p>{{ order[0] }}</p>
                            </td>

                            <td class="price">{{ order[3] }}</td>

                            <td class="quantity">{{ order[2] }}</td>
                            <td class="price">R$ {{ order[4] }}</td>


                            <td class="total"><a href="/detailsOrderEmpresa?order={{ order[0] }}">Detalhes</a></td>
                        </tr><!-- END TR-->
                        {%endfor%}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
{% else %}
<div style="tex-align:center;">
    <br> <br> <br> <br>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Você ainda não fez recebeu nenhum pedido !</h2>
    <br> <br> <br>
    <div>



{% endif %}

{% endblock %}
